Mozilla/4.0 Mozilla4.0

#IE浏览器
compatible;+MSIE IE浏览器
compatible;+MSIE+5.0 IE浏览器5.0
compatible;+MSIE+5.5 IE浏览器5.5
compatible;+MSIE+6.0 IE浏览器6.0
compatible;+MSIE+7.0 IE浏览器7.0
compatible;+MSIE+8.0 IE浏览器8.0

MAXTHON+2.0 遨游浏览器2.0[IE6]
TheWorld 世界之窗浏览器
360SE 360浏览器
TencentTraveler 腾讯浏览器

Firefox/3.0 Firefox浏览器3.0
Firefox/3.5 Firefox浏览器3.5

Chrome/4.0 谷歌浏览器4.0

#搜索引擎机器人
Googlebot Google机器人
Baiduspider 百度蜘蛛
Sosospider 搜搜蜘蛛
msnbot MSN机器人
VoilaBot Voila机器人
Yahoo!+Slurp+China 雅虎蜘蛛
