<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<clear/>
    <add name="mssql" connectionString="server=192.168.16.11;database=lzmis;uid=sa;pwd=sa"/>
		<add name="MySql_Local" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=123;" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLite" connectionString="Data Source=F:\data\sqlite3\testdb.s3db;Version=3;" providerName="System.Data.SQLite"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\main.mdb;User Id=admin;Password=;" providerName="System.Data.OleDb" />
    <add name="oracle_ddtek" connectionString="Data Source=orcl;User ID=sa;Password=sa;" providerName="Devart.Data.Oracle"/>
    <add name="oracle_msclient" connectionString="Data Source=orcl;User ID=sa;Password=sa;" providerName="System.Data.OracleClient"/>
  </connectionStrings>

	<system.data>
		<DbProviderFactories>
			<clear/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
			<add name="MySqlClient Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySql" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
			<add name="DB2 Data Provider" invariant="IBM.Data.DB2" description=".Net Framework Data Provider for DB2" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2" />
    </DbProviderFactories>
	</system.data>
</configuration>
