<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client"
			type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>
	<connectionStrings>
		<clear/>
    <add name="mssql" connectionString="server=.;database=cms;uid=sa;pwd=123456;" providerName="System.Data.SqlClient"/>
		<add name="MySql_Local" connectionString="Server=127.0.0.1;Database=test;Uid=root;Pwd=123;" providerName="MySql.Data.MySqlClient"/>
    <add name="SQLite" connectionString="Data Source=F:\data\sqlite3\testdb.s3db;Version=3;" providerName="System.Data.SQLite"/>
    <add name="access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\main.mdb;User Id=admin;Password=;" providerName="System.Data.OleDb"/>
    <add name="oracle_ddtek" connectionString="Data Source=orcl;User ID=sa;Password=sa;" providerName="Devart.Data.Oracle"/> 
    <add name="oracle_odp" connectionString="User Id=U_WRYQGC_SZ ;Password=U_WRYQGC_SZ;Data Source=SampleDataSource" providerName="Oracle.ManagedDataAccess.Client"/>
    <add name="oracle_Devart_tns" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.3.42)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=orcl)));User Id=U_XZCFSX_DEV;Password=U_XZCFSX_DEV;" providerName="Oracle.ManagedDataAccess.Client"/> 
  </connectionStrings>

	<system.data>
		<DbProviderFactories>
			<clear/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite"
				type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
			<add name="MySqlClient Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySql"
				type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
			<add name="DB2 Data Provider" invariant="IBM.Data.DB2" description=".Net Framework Data Provider for DB2" type="IBM.Data.DB2.DB2Factory, IBM.Data.DB2"/>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
				type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
	</system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
<runtime>
<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
<dependentAssembly>
<publisherPolicy apply="no"/>
<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0"/>
</dependentAssembly>
</assemblyBinding>
</runtime>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=180.97.90.85)(PORT=1251))(CONNECT_DATA=(SERVICE_NAME=ORCL)))"/>
</dataSources>
</version>
</oracle.manageddataaccess.client>
</configuration>
