<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="17.4.0" targetFramework="net40" />
  <package id="DockPanelSuite" version="2.9.0.0" targetFramework="net40" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net40" />
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net40" />
  <package id="Microsoft.VisualStudio.TextTemplating.15.0" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.10.0" version="10.0.30319" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextTemplating.Interfaces.11.0" version="11.0.50727" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net40" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net40" requireReinstallation="true" />
  <package id="Oracle.ManagedDataAccess" version="12.1.24160719" targetFramework="net452" />
</packages>